{% extends 'base.html.twig' %}


{% block title %}Register{% endblock %}

{% block body %}

    {% include "partials/_nav_bar.html.twig" %}

    <section class="background" >

        <div class="container py-5 h-100 ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card card_color text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase neon red-color">{% trans %}Register{% endtrans %}</h2>
                                <p class="text-white-50 mb-5">{% trans %}Edit your account!{% endtrans %}</p>

                                {% include "registration/edit_form.html.twig" with {'button_label':'Edit' } %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}