<section>
    <div class="container1 margin_top">
        <div class="row">
            {% for album in albums %}
                <div class="card2">
                    <div class="center">
                        <img class="picture" src="{{ asset('uploads/images/'~album.pictureFileName) }}" alt="Card image cap" width="220" height="220">
                    </div>
                    <p><h4 class="center"><a class="red-color neon" href="{{path('app_album_show', {id: album.id})}}">{{ album.name }}</a></h4></p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>