{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

    {% include "partials/nav_bar.html.twig" %}

    <div class="bg_homepage">

    <h1 class="center red-color neon title">{% trans %}Welcome to{% endtrans %} Loopbox!</h1>

    {%include "partials/_search_data.html.twig" with {
        form: form ?? null
    } only %}

            <form id="filters" class="white center margin_bottom">
                <div class="form-check form-check-inline test">
                    <input type="checkbox" name="type[]" id="rap" value="rap">
                    <label for="rap">Rap</label>
                </div>
                <div class="form-check form-check-inline test">
                    <input type="checkbox" name="type[]" id="pop" value="pop">
                    <label for="pop">Pop</label>
                </div>
                <div class="form-check form-check-inline test">
                    <input type="checkbox" name="type[]" id="metal" value="metal">
                    <label for="metal">Metal</label>
                </div>
                <div class="form-check form-check-inline test">
                    <input type="checkbox" name="type[]" id="rock" value="rock">
                    <label for="rock">Rock</label>
                </div>
                <div class="form-check form-check-inline test">
                    <input type="checkbox" name="type[]" id="classical music" value="classical music">
                    <label for="classical music">Classical Music</label>
                </div>
                <div class="form-check form-check-inline test">
                    <input type="checkbox" name="type[]" id="jazz" value="jazz">
                    <label for="jazz">Jazz</label>
                </div>
            </form>


        <table class="table noline">
            <thead>
            <tr class="white">
                <th class="th2">{% trans %}Name{% endtrans %}</th>
                <th class="th2">{% trans %}Type{% endtrans %}</th>
                <th class="th2">{% trans %}Artist{% endtrans %}</th>
                <th class="th2"></th>
                <th class="th2"></th>
            </tr>
            </thead>
            <tbody id="content">
            {% include "homepage/_content.html.twig" %}
            </tbody>
        </table>


    {% block javascripts %}
        <script src="{{ asset("js/filters.js") }}"></script>
    {% endblock %}

    <div class="container1 margin_top">
        <div class="row">
            {% for album in albums %}
                <div class="card2">
                    <div class="center">
                        <img class="picture" src="{{ asset('uploads/images/'~album.pictureFileName) }}" alt="Card image cap" width="220" height="220">
                    </div>
                    <p><h4 class="center"><a class="red-color neon" href="{{path('app_album_show', {id: album.id})}}">{{ album.name }}</a></h4></p>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}


