{{ form_start(form) }}

    {{ form_widget(form, { 'attr': {'class': 'width'} }) }}

    <button type="submit" class="bottom no_bg_border red-color emphasized">{% trans %}Send{% endtrans %}</button>

{{ form_end(form) }}