{% extends "base.html.twig" %}

{% block title %}Add Song{% endblock %}

{% block body %}
    <h1>{% trans %}Add Song{% endtrans %}</h1>
    {% include "song/_form_add_song.html.twig" %}

{% endblock %}