.neon {
    color: #fff;
    text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px rgb(255,0,0),
    0 0 77px rgb(255, 0, 0),
    0 0 100px rgb(255, 0, 0)
}
.red-color {
    color: rgba(201,30,30);
}
.bg-color {
    background-color: rgba(33,7,7,0.65);
}
.body {
    background-image: url("img/music.jpeg");
}
.white-color {
    color: white;
    font-size: 1.6em;
}
.btn1{
    margin-bottom: 5px;
    margin-top: 55px;
}








