.bg_new_album {
    background-image: url("img/music6.jpeg");
    background-size: cover;
    background-position: center;
}
.bg_index_album {
    background-image: url("img/music10.jpeg");
}
.space {
    margin-bottom: 40px;
}
.bg_show_album {
    background-image: url("img/music7.jpg");
}
.margin_bottom {
    margin-bottom: 25px;
}
.buttons_block_album {
    display: inline-block;
    padding-left: 560px;
}
.text_size {
    font-size: 1.2em;
}
.buttons_space {
    margin-right: 40px;
}
