.bg_new_album {
    background-image: url("img/music6.jpeg");
    background-size: cover;
    background-position: center;
}
.bg_index_album {
    background-image: url("img/music10.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    position: absolute;
}
.space {
    margin-bottom: 40px;
}
.bg_show_album {
    background-image: url("img/music7.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    position: absolute;
}
.th3 {
    width: 50%;
    text-align: right;
    border: none;
    font-size: large;
}
.td4 {
    width: 50%;
    text-align: left;
    border: none;
    font-size: large;
}
.margin_bottom {
    margin-bottom: 25px;
}
