nav{
    background-color: rgba(8,0,0,0.99);
    Font-size:25px;
    Text-transform:uppercase;
    display: flex;
    padding: 10px 10px 10px 10px;
}

.nav_link{
    display: inline-block;
    Text-decoration:none;
    color:rgba(201,30,30);
    font-weight: bold;
    Transition:color .2s linear;
}
.nav_link:hover{
    color: white;
}
