.background_playlist{
    background-image: url("img/music5.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    position: absolute;

}
.white {
    color: white;
}

.btn_margin {
    margin-top: 35px;
}
.color_popup {
    background-color: orange;
}
.color_popup2 {
    background-image: url("img/music5.jpg");
}
.btn_add_close {
    border-radius: 10px;
    border-color: rgba(201,30,30);
    background-color: orange;
}
.padding_right {
    padding-right: 70px;
}
.pagination_hover {
    color: white;
}
.pagination_hover:hover{
    color: white;
}



