.buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 45px;
    height: 45px;
    background-color: whitesmoke;
}
.background2 {
    background-image: url("https://images.unsplash.com/photo-1530128051436-3ab3663a4683?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
}
.margins{
   padding: 50px 20px 255px 20px;
}
.card1 {
    border-radius: 15px;
    background-color: floralwhite;
    width: 450px;
    height: 650px;
}

