.bg_player {
    background-image: url("https://images.unsplash.com/photo-1530128051436-3ab3663a4683?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
}
.margins{
    padding: 50px 20px 255px 20px;
}
.card1 {
    border-radius: 15px;
    background-color: floralwhite;
    width: 450px;
    height: 650px;
}
.padding {
    padding-top: 20px;
}
.black {
    color: black;
}
.black:hover {
    color: black;
}
.padding_audio{
    padding-top: 0px;
}
audio {
    width: 300px;
    height: 35px;
    overflow: hidden;

}
.top-comment{
    padding-top: 30px;
}
.comment_color_top{
    background-color: rgb(255,230,182);
}
.comment_color_bottom {
    background-color: floralwhite;
}
.emphasized {
    font-style: italic;
}
.width{
    width: 470px;
}
.bottom{
    margin-bottom: 20px;
}
.margins_right{
    padding-right: 470px;
    float: right;
}
.bottom23{
    margin-bottom: 23px;
}



