.background{
    background-image: url("img/music1.jpg");
    background-size: cover;
    background-position: center;

}
.card_color{
    background-color: rgba(158, 64, 64, 0.09);
}
.agree_terms{
    text-align: left;
}
