.bg_show_song {
    background-image: url("https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: center;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    position: absolute;
}
.td1, .th1  {
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
}

.buttons_block {
    display: inline-block;
    padding-left: 545px;
}
.position_right {
    float: right;
}

.buttons_space {
    margin-right: 40px;
}