.dark{
    color:black;
}
.dark:hover{
    color: black;
}
.b{
    border: none;
    background-color: transparent;

}
.audio{
    padding-top: 0px;
}
.inline{
    display: inline-block;

}
.t{
    margin-bottom: 23px;
}
.top-comment{
    padding-top: 30px;
}
.comment{
    background-color: floralwhite;
}
.width{
    width: 470px;
}
.bottom{
    margin-bottom: 20px;
}
.right{
    float: right;
}
.inline{
    display: inline-block;
}