.background_user {
    background-image: url("img/music4.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    position: absolute;
}
.transparent {
    background: rgba(0,0,0,0);
}
.margin_top {
    padding-top: 35px;
}

