{% for song in songs %}
    {% if song not in playlist.songs %}
        <tr>
            <td>{{ song.name }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.type }}</td>
            <td>
                <button class="btn_add_close"><a class="red-color neon"
                                                 href= {{ path('add_song_playlist', {'playlistId': playlist.id, 'songId': song.id}) }}>Add</a>
                </button>
            </td>
        </tr>
    {% endif %}
{% endfor %}
{% if allSongs|length == playlist.songs|length %}
    <tr>
        <td colspan="10">no records found</td>
    </tr>
{% endif %}