{% for song in songs %}
    {% if song not in playlist.songs %}
        <tr class="white">
            <td class="td2">{{ song.name }}</td>
            <td class="td2">{{ song.artist }}</td>
            <td class="td2">{{ song.type }}</td>
            <td class="td2">
                <button class="btn btn-outline-light"><a class="white_hover neon"
                         href= {{ path('add_song_playlist', {'playlistId': playlist.id, 'songId': song.id}) }}>Add</a>
                </button>
            </td>
        </tr>
    {% endif %}
{% endfor %}
{% if allSongs|length == playlist.songs|length %}
    <tr>
        <td colspan="10" class="white">no records found</td>
    </tr>
{% endif %}