{% extends 'base.html.twig' %}

{% block title %}Create Playlist{% endblock %}

{% block body %}

    {% include "partials/nav_bar.html.twig" %}

    <section class="vh-100 gradient body" >

        <div class="container py-5 h-100 ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-color text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase neon red-color">Playlist</h2>
                                <p class="text-white-50 mb-5">It's time to create your playlist!</p>
                                {% include "playlist/_form.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
