<!DOCTYPE html>
<html>
    <head>
        <meta chatset="UTF-8">
    </head>
    <body>
        <h1>Confirmation of your registration</h1>
        <p> Dear {{ userName}},<br><br>

            Thank you for registering on our music streaming application!
            We are excited to have you as a part of our community of music lovers.
            Your registration has been confirmed and you can now access our vast library of songs.<br><br>


            We hope that you will have a wonderful experience using our music streaming application
            and that it will become your go-to destination for all your music needs.<br>

            Best regards,<br>
            Loopbox team

        </p>
    </body>
</html>