{% extends 'base.html.twig' %}

{% block title %}Edit Song{% endblock %}

{% block body %}
    <h1>Edit Song</h1>

    {{ include('song_controlle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_song_controlle_index') }}">back to list</a>

    {{ include('song_controlle/_delete_form.html.twig') }}
{% endblock %}
