<div class="lead white center margin_top2">Do you want to add something on LoopBox ?</div>
<div class="center">
    <button class="btn btn-outline-light btn_space btn_margins"><a class="neon red-color" href="{{ path('app_song_new') }}">Add Song</a></button>
    <button class="btn btn-outline-light btn_margins"><a class="red-color neon" href="{{ path('app_album_new') }}">Add Album</a></button>
</div>