{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>
    This friendly message is coming from:{{ app.user.name }}<br>

</div>
    <a href="{{path('app_playlist_add')}}">Create Playlist </a>

   <div>
       {% for playlist in playlists %}
           <a href="{{path('app_playlist', {id: playlist.id})}}"> {{ playlist.name }} </a> <br>
       {% endfor %}


   </div>
{% endblock %}
